<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiId" value="20965775" />
		<add key="apiHash" value="62295d5bf30eca76bef9ef26b991aab2" />
		<add key="TelephoneNumber" value="+79641450174" />
		<add key="idGroup" value ="4075022618"/>
		<add key="lasrCheckDateTime" value="09.11.2023 9:00"/>
		<add key="timePointsCheck" value="9:46, 9:54, 9:58, 10:05, 15:00, 16:00, 17:00, 18:00" />
	</appSettings>
</configuration>